/* Footer Styles */
#footer-content
{
	border-top: 1px solid #cccccc;
	margin-left: 0px;
	margin-right:0px;
	float:inherit;
	width:inherit;
	height: 39px;
	margin-top:20px;
}
#footer-sidebar
{
	float: right;
	width: 235px;
	height: 39px;
	background-color: #C64E46;
	border-top: solid 7px #ffffff;
	margin-top:-7px;
}
#footer-copyright
{
	margin-top: 1em;
	margin-left:0px;
	text-align:center;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #929292;
}
#footer-copyright-text
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #929292;
}
#footer-copyright a, #footer-copyright a:link, #footer-copyright a:visited
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #B2B2B2;
	text-decoration: underline;
}
#footer-copyright a:hover
{
	color: #474544;
}
#footer-links
{
	/*margin-top: .40em;*/
	margin-right:0px;
	text-align: center;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #373534;
}
#footer-links a, #footer-links a:link, #footer-links a:visited
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #373534;
	cursor:pointer;
}
#footer-links a:hover
{
	color: #C64E46;
}
#footer-facebook
{
    float:right;
    margin-right:0px;    
}
#footer-copyright-links
{
    float:left;    
}