/*table{border-collapse: collapse;}
.backgroundPrimaryNav{background:url(../Images/header_bg.gif) 0px 0px repeat-x #A4959A; height:76px;}
.pncontainer{width:994px; margin:0 auto 0 auto; padding:0;}
.pnscontainer{width:100%;margin:0 auto 0 auto; padding-left:0px; min-width:1024px;display:table;  }
.PrimaryNavigation{list-style:none;margin:-1 0 0 0;padding:0;width:100%; display:table-row;}
.PrimaryNavigation li.logo{border-top: 0.1em solid #ffffff;margin:-3px 0 0 0; padding:0;background-image:url(../Images/atiLogo.gif);background-repeat:no-repeat;background-position:top center; width:105px; display:table-cell; height:54px;  background-color:#ffffff; float:left; }
.PrimaryNavigation li{display:table-cell; margin:0; padding:0;border-top: 5px solid #685E5C; float:left;  }
.PrimaryNavigation li a{font-size: 12px;text-align:center; border-right:1px solid #dcdce9;font-family:Arial;display:block;line-height: 3.9em;margin:0px;
padding:0px 20px 0px 20px;border-right: 1px solid #dcdce9;color: #ffffff;text-decoration: none;text-shadow: 1px 1px 1px #A4959A;background:url(../Images/primNav-bg.jpg) 0px 0px repeat-x #DD5850;}
.PrimaryNavigation li a.selected{background:url(../Images/primNav-selected-bg.jpg) 0px 0px repeat-x #A4959A;  }

.pnscontainer{ margin: 0px auto 0 auto; padding:0;}
.PrimaryNavigationSub{list-style:none;display: table; text-align:center;padding:0; margin:0 auto;  font-size:11px; font-family:Sans-Serif; }

.PrimaryNavigationSub li{display:inline-block;font-size:11px; padding:0; text-align:center; }
.PrimaryNavigationSub li a{text-align:center; line-height:2em; padding-left:15px;padding-right:15px;padding-top:0px;padding-bottom:0px;text-decoration: none;color: #ffffff;display: inline-block;margin:0;font-size:11px;}
.PrimaryNavigationSub li a.selected{ background-color:#685E5C;font-size:11px; height:22px;padding-top:0px;padding-bottom:0px; }*/
table{border-collapse: collapse;}
.backgroundPrimaryNav{background:url(../Images/header_bg.gif) 0px 0px repeat-x #A4959A; height:76px;}
.pncontainer{width:800px; margin:0 auto 0 auto; padding:0; }
.pnscontainer{width:100%;margin:0 auto 0 auto; padding-left:0px; min-width:1024px; }
.PrimaryNavigation{list-style:none;margin:-1 0 0 0;padding:0;width:100%; display:table;  }
.PrimaryNavigation li.logo{background-image:url(../Images/ati_pms.png);background-repeat:no-repeat;;background-position: 13px -5px; width:128px; display:table-cell;padding-bottom:5px; position:relative; top:0px; border-top:5px solid #fff;  background-color:#ffffff;}
.PrimaryNavigation li{display:table-cell; margin:0; padding:0;border-top: 5px solid #685E5C;  }
.PrimaryNavigation li a{font-size: 12px;text-align:center; border-right:1px solid #dcdce9;font-family:Arial;display:block;line-height: 3.9em;margin:0px;
padding:0px 20px 0px 20px;border-right: 1px solid #dcdce9;color: #ffffff;text-decoration: none;text-shadow: 1px -1px 0px #867e80; background:url(../Images/primNav-bg.jpg) 0px 0px repeat-x #DD5850;}
.PrimaryNavigation li a.selected{background:url(../Images/primNav-selected-bg.jpg) 0px 0px repeat-x #A4959A;  }

.pnscontainer{ margin: 0px auto 0 auto; padding:0;}
.PrimaryNavigationSub{list-style:none;display: table; text-align:center;padding:0; margin:0 auto;  font-size:11px; font-family:Sans-Serif; }

.PrimaryNavigationSub li{display:inline-block;font-size:11px; padding:0; text-align:center; }
.PrimaryNavigationSub li a{text-align:center; line-height:2em; padding-left:15px;padding-right:15px;padding-top:0px;padding-bottom:0px;text-decoration: none;color: #ffffff;display: inline-block;margin:0;font-size:11px;}
.PrimaryNavigationSub li a.selected{ background-color:#685E5C;font-size:11px; height:22px;padding-top:0px;padding-bottom:0px; }
