img {border:none;}

a.boxatilink { text-decoration:none; float:left; clear:both; margin-top:10px; margin-bottom:10px; }
.boxati { border: solid 1px #E5E5E5; width:599px; height:75px; background:#ffffff;}
.boxati:hover { background:#fafafa;}
.atilogo { float:left; width:186px; margin-top:4px; border-right: solid 1px #E5E5E5;}
.atilogo img {margin-top:4px; margin-left:15px;}
.atirightbox { float:left; width:390px;}
.boxati p {font-family: 'Arvo', serif; font-weight:400; font-style:normal; font-size:12px; margin-top:5px; margin-bottom:0px; color:#3f3f3f;}
.boxati h1, .boxati h2, .boxati h3 { font-family: 'Arvo', serif; font-weight:400; font-style:italic; color:#e44d42; font-size:21px; margin-top:13px; margin-bottom:0px;}
.boxati .atirightbox.wide p, .boxati .atirightbox.wide h1, .boxati .atirightbox.wide h2, .boxati .atirightbox.wide h3 { text-align:right; }
.button { background:#e44d42; color:#ffffff; padding: 4px 7px 4px 7px; width:83px; float:right; font-family: 'Arvo', serif; font-weight:400; font-style:normal; font-size:12px; margin-top:12px;}
a.boxatilink:hover .button { background:#F55E53;}


.boxatisq { width:270px; height:225px; border: solid 1px #E5E5E5;}
.boxatisq:hover { background:#fafafa;}
.boxatisq .atirightbox.wide p, .boxatisq .atirightbox.wide h1, .boxatisq .atirightbox.wide h2, .boxatisq .atirightbox.wide h3 { text-align:right; }
.boxatisq h1, .boxatisq h2, .boxatisq h3 { font-family: 'Arvo', serif; font-weight:400; font-style:italic; color:#e44d42; font-size:18px; margin-top:11px; margin-bottom:11px;}
.redbgati { background:#e44d42; float:left; margin-top:10px; color:#ffffff; width:100%;}
.sqlogoati { margin-left:auto; margin-right:auto; text-align:center; margin-top:10px; height:80px;}
.redbgati h1, .redbgati h2, .redbgati h3 { color:#ffffff; text-align:center;}
.textmoreati { float:left; text-align:center; width:100%; font-family: 'Arvo', serif; font-weight:400; font-style:normal; font-size:12px; margin-top:7px; color:#3f3f3f;}


.atirightbox.wide.red { float:right; color:#ffffff;}
.atirightbox.wide.red h1, .atirightbox.wide.red h2, .atirightbox.wide.red h3 { color:#ffffff; margin-top:9px; background:#e44d42; padding:4px; font-size:19px;}
.button.grey { background:#474544; margin-top:5px;}
a.boxatilink:hover .button.grey { background:#585655;}


.atitextbox { float:left; clear:both; padding:10px; border: solid 1px #E5E5E5; margin-top:10px; margin-bottom:10px;}
.atitextbox p { margin:0px;}
.atitextbox:hover { background:#fafafa;}