<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <config>
        <postUrl>http://magentonew.local.com</postUrl>
        <restUrl>index.php/rest/V1/products</restUrl>
        <username>admin</username>
        <password>Admin@1234</password>
        <image>/var/www/html/pimcoremage/website/var/assets/technolgies/footware/ortholite.eps</image>
        <Varient>
            <sku>##key##</sku>
            <name>##key##</name>
            <visibility>4</visibility>
            <type_id>##PRODUCTTYPE##</type_id>
            <price>price</price>
            <status>1</status>
            <attribute_set_id>9</attribute_set_id>
            <weight>1</weight>
            <extension_attributes>
                <stock_item>
                    <is_in_stock>1</is_in_stock>
                    <qty>77</qty>
                </stock_item>
            </extension_attributes>
            <custom_attributes>
                <key0>
                    <attribute_code>category_ids</attribute_code>
                    <value>##categories:objects##</value>
                </key0>
                <key1>
                    <attribute_code>meta_title</attribute_code>
                    <value>##seoname##</value>
                </key1>
                <key2>
                    <attribute_code>description</attribute_code>
                    <value>##description##</value>
                </key2>
                <key3>
                    <attribute_code>size</attribute_code>
                    <value>##size:variant##</value>
                </key3>
                <key4>
                    <attribute_code>color</attribute_code>
                    <value>##color:variant##</value>
                </key4>
                <key5>
                    <attribute_code>shape</attribute_code>
                    <value>##shape:variant##</value>
                </key5>
                <key6>
                    <attribute_code>short_description</attribute_code>
                    <value>Simple  Short Description</value>
                </key6>
            </custom_attributes>
        </Varient>
        <VarientWithoutSkuName>
            <visibility>4</visibility>
            <type_id>##PRODUCTTYPE##</type_id>
            <price>price</price>
            <status>1</status>
            <attribute_set_id>9</attribute_set_id>
            <weight>1</weight>
            <extension_attributes>
                <stock_item>
                    <is_in_stock>1</is_in_stock>
                    <qty>77</qty>
                </stock_item>
            </extension_attributes>
            <custom_attributes>
                <key0>
                    <attribute_code>category_ids</attribute_code>
                    <value>##categories:objects##</value>
                </key0>
                <key1>
                    <attribute_code>meta_title</attribute_code>
                    <value>##seoname##</value>
                </key1>
                <key2>
                    <attribute_code>description</attribute_code>
                    <value>##description##</value>
                </key2>
                <key3>
                    <attribute_code>size</attribute_code>
                    <value>##size:variant##</value>
                </key3>
                <key4>
                    <attribute_code>color</attribute_code>
                    <value>##color:variant##</value>
                </key4>
                <key5>
                    <attribute_code>shape</attribute_code>
                    <value>##shape:variant##</value>
                </key5>
                <key6>
                    <attribute_code>short_description</attribute_code>
                    <value>Simple  Short Description</value>
                </key6>
            </custom_attributes>
        </VarientWithoutSkuName>
        <sourceParentId>12738</sourceParentId>
        <objectId>o_classId =12</objectId>
        <nonObjectId>o_classId =''</nonObjectId>
        <proposedDataSet>products</proposedDataSet>
        <pimClassName>Product</pimClassName>
        <keywords>
            <key0>key</key0>
            <key1>key</key1>
            <key2>PRODUCTTYPE</key2>
            <key3>price</key3>
            <key4>categories:objects</key4>
            <key5>seoname</key5>
            <key6>description</key6>
            <key7>size:variant</key7>
            <key8>color:variant</key8>
            <key9>shape:variant</key9>
        </keywords>
        <manageKeywordForMagento>
            <key0>magento:9:size:attr_id</key0>
            <key1>magento:9:size:attr_code</key1>
            <key2>size::magento:9:size:attr_values:values</key2>
            <key3>magento:9:color:attr_id</key3>
            <key4>magento:9:color:attr_code</key4>
            <key5>color::magento:9:color:attr_values:values</key5>
            <key6>magento:9:shape:attr_id</key6>
            <key7>magento:9:shape:attr_code</key7>
            <key8>shape::magento:9:shape:attr_values:values</key8>
        </manageKeywordForMagento>
        <bridgeId>12116</bridgeId>
        <objectType>variant</objectType>
    </config>
</zend-config>
